.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
}

.slideshow {
  width: 65rem;
  height: 21.1rem;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
  justify-content: justify;
}

.hero h1 {
  font-size: 4.8rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  /* text-transform: uppercase; */
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -20px;
  margin-bottom: 0;
}

.hero p {
  font-size: 1.94rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #ff9b05;
  padding-left: 0;
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #f9b241;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.section {
  flex-direction: column;
  justify-content: center;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 40rem;
  text-align: center;
  align-items: center;
}

.section p {
  text-align: justify;
  margin: 0 2rem 2rem 2rem;
}

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .section p {
    margin: 1rem;
    font-size: 1rem;
  }

  .cta {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .slideshow {
    width: 20rem;
    height: 10rem;
  }

  .cta a {
    width: 80%;
    text-align: center;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.3rem;
  }

  .cta a {
    width: 100%;
    padding: 0.75rem;
  }
}
